/* Theme styles */
:root {
  /* Light theme */
  --c-light-text: black;
  --c-light-background: white;
  --c-light-focus: deepskyblue;
  --c-light-interactive: blue;
  --c-light-border: #ccc;
  --c-light-button: #eee;

  /* Dark theme */
  --c-dark-text: white;
  --c-dark-background: #333;
  --c-dark-focus: deeppink;
  --c-dark-interactive: orange;
  --c-dark-border: orange;
  --c-dark-button: orange;
}

.theme-container {
  /* Make the light theme the default */
  --c-text: var(--c-light-text);
  --c-background: var(--c-light-background);
  --c-focus: var(--c-light-focus);
  --c-interactive: var(--c-light-interactive);
  --c-border: var(--c-light-border);
  --c-button: var(--c-light-button);

  color: var(--c-text);
  background-color: var(--c-background);
}

.dark-mode-checkbox:checked ~ .theme-container {
  /* Override the default theme */
  --c-text: var(--c-dark-text);
  --c-background: var(--c-dark-background);
  --c-focus: var(--c-dark-focus);
  --c-interactive: var(--c-dark-interactive);
  --c-border: var(--c-dark-border);
  --c-button: var(--c-dark-button);
}

.dark-mode-checkbox {
  position: absolute;
  top: 0;
  right: 0;
}

/* Element styles */
html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

input,
select,
option,
button,
textarea {
  font-size: 100%;
  padding: 3px 5px;
  background-color: var(--c-button);
  border: 1px solid var(--c-border);
  border-radius: 5px;
}

label {
  display: inline-block;
  padding: 0.25rem 0;
}

label :first-child {
  margin-right: 0.5rem;
}

textarea {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Top level elements */
#app {
  padding: 1rem;
}

#nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

#nav a {
  color: var(--c-interactive);
  margin-right: 0.5rem;
  text-decoration: none;
}

#nav a:last-child {
  margin-right: 0;
}

#nav a:visited {
  color: var(--c-interactive);
}

.json {
  width: 100%;
}

/* Repeated styles */
.box {
  border: 1px solid var(--c-border);
  margin-top: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.item {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--c-border);
}

.item:last-child {
  padding: 0.5rem 0 0 0;
  border-bottom: none;
}

.action {
  border: 1px solid var(--c-border);
  margin-top: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

/* Grids */
.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col-40-60 {
  display: grid;
  grid-template-columns: 40% 60%;
}

/* Utility styles */
.grow {
  flex-grow: 1;
}

.row {
  box-sizing: border-box;
  border-bottom: 1px solid var(--c-border);
  padding: 0.5rem 0;
}

.row div {
  margin-bottom: 0.5rem;
}

.right {
  text-align: right;
}

.hidden {
  display: none;
}

.property-count {
  background-color: var(--c-border);
  border-radius: 1rem;
  color: black;
  display: inline-block;
  margin-left: 0.25rem;
  padding: 0.25rem 0.5rem;
}

/* Tab bar */
.tabbar {
  border-bottom: 1px solid var(--c-border);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.tabbar li {
  margin: 0 1rem;
  padding: 0.5rem 0;
}

.tabbar a {
  color: var(--c-interactive);
  text-decoration: none;
}

.tabbar a.active {
  font-weight: bold;
}

.tabpage {
  padding: 0.5rem 0;
}

/* Autocomplete */
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-suggestions {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(1.5rem);
  border: 1px solid black;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
}

.autocomplete-suggestions li {
  padding: 3px 5px;
  cursor: pointer;
}

.autocomplete-suggestions li:hover {
  background-color: black;
  color: white;
}
